 @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; 

 #leftbox {
    
    width:20vh; 
    float:left; 
    border: 5px solid black;
    height: 80vh;
    margin: 80px;
    text-align: center
    
    
    
  }

  #rightbox {
    width:20vh; 
    height: 80vh;
    float:right; 
    border: 5px solid black;
    margin: 80px;
    text-align: center
  }


  #fightbtn {
   
    position: absolute;
    left: 47%;
    top: 50%;
    padding: 2vh;
    margin: 2vh;
    

       
    
 }


#rightselection {

    position: relative;
    float: right;
    
}


#middlebox {
    margin-top: 70px;

    border: solid blue 1vh;



}

.select {

    padding: 30px;
    margin: 30px;



}

#wikileft {

    border: solid blue 5px;
    height: 40vh;
    width: 40vh; 
    padding: 5vh;
    margin: 1vh;
    display: inline-block;
    
    
}
 
#wikiright {

    border: solid blue 5px;
    height: 40vh;
    width: 40vh; 
    padding: 5vh;
    margin: 1vh;
    display: inline-block;
    
    
}

#result {

    position: relative;
    top: 50%;
}

/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;



}

  

  
#leftbox p {
    color: #ffffff;
    padding-left: 80px;
    padding-top: 50px;
    position: relative;
    
  }

#infoleft {

    position: relative;
    margin-right: 200px;
    margin-top: 100%;
    
}
  

  
#rightbox p {
    color: #ffffff;
    padding-left: 110px;
    padding-top: 50px;
  }

#leftaside{
    border: 5px solid black;
    height: 800px;
    width:500px; 
    position: relative;
    top: 50px;
    margin-left: 20px;

}

#rightaside{
    
    border: 5px solid black;
    height: 800px;
    width:500px; 
    float: right;
    position: relative;
    bottom: 750px;
    
}

#inforight{

    position: relative;
    margin-left: 200px;
    margin-top: 100%;


}

#fightbtn {
   
   position: relative;
   left: 50%;
   
   

  
} */
